.about_section {
    .about_description {
        text-align: center;
    }
    .about_me {
        padding-right: 80px;
    }
    .profile_img_wrap {
        width: 100%;
        max-width: 250px;
        max-height: 250px;
        // border: 10px solid $colored;
        // @include border-radius(50%);
        overflow: hidden;
    }
    .profile_img {
        display: block;
        width: 100%;
        height: 100%;
        @include border-radius(6px);
    }
    .profile_name {
        margin-top: 0;
    }
    .profile_proffesion {
        text-transform: uppercase;
        .fa {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 5px;
            font-size: 5px;
            vertical-align: middle;
        }
    }
    .about_me_text {
        margin: 20px 0;
    }
    .button {
        display: block;
        position: relative;
        float: left;
        width: 250px;
        padding: 15px;
        color: $color1;
        text-decoration: none;
        text-transform: uppercase;
        @include border-radius(4px);
        background-color: $bg2;
        @include transition(0.5s);
        .fa {
            margin: 0 10px;
        }
    }
    .button_linkedin {
        margin-right: 50px;
    }
    .button_download_resume {}
    @media (max-width: 1199px) {
        //@include breakpoint(sma) {
        .about_section {
            .button {
                width: 210px;
                .fa-chevron-right {
                    display: none;
                }
            }
            .button_linkedin {
                margin-right: 20px;
            }
        }
    }
    @include breakpoint(medium) {
        .profile_img_wrap {
            margin: 0 auto 20px;
        }
        .about_section {
            .about_me_text {
                text-align: justify;
            }
            h4 {
                text-align: center;
            }
            .button {
                margin: 0 auto;
                float: none;
                margin-bottom: 20px;
            }
        }
    }
    @include breakpoint(small) {
        .profile_img_wrap {
            max-width: 150px;
            max-height: 150px;
        }
        .profile_name,
        .profile_proffesion {
            text-align: center;
        }
        .about_me_text {
            text-align: justify;
        }
        h4 {
            text-align: center;
        }
        .button {
            margin: 0 auto 20px;
            float: none;
        }
    }
}