// ***********************************
// Custom styles
// ***********************************
.section_subtitle_description {
    text-align: center;
}
.about_section {
    .about_description {
        text-align: center;
    }
    .about_me {
        padding-right: 80px;
    }
    .profile_img_wrap {
        width: 250px;
        height: 250px;
        // border: 10px solid $colored;
        // @include border-radius(50%);
        overflow: hidden;
    }
    .profile_img {
        display: block;
        width: 100%;
        height: 100%;
    }
    .profile_name {
        margin-top: 0;
    }
    .profile_proffesion {
        text-transform: uppercase;
        .fa {
            display: inline-block;
            width: 5px;
            height: 5px;
            margin: 0 5px;
            font-size: 5px;
            vertical-align: middle;
        }
    }
    .about_me_text {
        margin: 20px 0;
    }
    .button {
        display: block;
        position: relative;
        float: left;
        width: 250px;
        padding: 15px;
        color: $color1;
        text-decoration: none;
        text-transform: uppercase;
        @include border-radius(4px);
        background-color: $bg2;
        @include transition(0.5s);
        .fa {
            margin: 0 10px;
        }
    }
    .button_linkedin {
        margin-right: 50px;
    }
    .button_download_resume {}
}
.experiance_section {
    .timeline-centered {
        position: relative;
        margin-bottom: 30px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 4px;
            background: $bg5;
            left: 20%;
            top: 20px;
            bottom: 70px;
            margin-left: -4px;
        }
    }
    .timeline-entry {
        position: relative;
        width: 80%;
        float: right;
        margin-bottom: 70px;
        clear: both;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        &.begin {
            margin-bottom: 0;
        }
        &.left-aligned {
            float: left;
            width: 20%;
            .timeline-entry-inner {
                margin-left: 0;
                margin-right: -18px;
                .timeline-time {
                    left: auto;
                    right: -100px;
                    text-align: left;
                }
                .timeline-icon {
                    float: right;
                }
                .timeline-label {
                    margin-left: 0;
                    margin-right: 70px;
                    &:after {
                        left: auto;
                        right: 0;
                        margin-left: 0;
                        margin-right: -9px;
                        @include rotate(180deg);
                    }
                }
            }
        }
    }
    .timeline-entry-inner {
        position: relative;
        margin-left: -22px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    .timeline-time {
        position: absolute;
        left: -260px;
        width: 240px;
        text-align: right;
        padding: 10px;
        box-sizing: border-box;
        & > span {
            display: block;
        }
        & > span:first-child {
            font-size: 15px;
            font-weight: bold;
        }
        & > span:last-child {
            font-size: 12px;
        }
    }
    h4 {
        clear: both;
        padding-top: 10px;
        border-top: 1px solid $bg5;
    }
    .timeline-icon {
        background: $bg2;
        color: #737881;
        display: block;
        width: 20px;
        height: 20px;
        margin-left: 10px;
        margin-top: 10px;
        @include border-radius(20px);
        text-align: center;
        @include box-shadow(0,0,0,5px, $bg5);
        line-height: 40px;
        font-size: 15px;
        float: left;
    }
    .timeline-label {
        position: relative;
        background: $bg5;
        padding: 10px 20px 20px;
        margin-left: 70px;
        @include border-radius(6px);
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 9px 9px 9px 0;
            border-color: transparent $bg5 transparent transparent;
            left: 0;
            top: 10px;
            margin-left: -9px;
        }
        .timeline-description {
            margin-top: 10px;
            line-height: 1.5;
            p {
                margin-top: 10px;
            }
        }
    }
}
.skills_section {
    // @include gradient(#ffffff, #e5e5e5);
    background-image: url(/img/bg/bg-silver-pattern.jpg);
    background-repeat: repeat;
    background-position: center center;
    .container {
        background-image: url(/img/bg/bg-light-pattern.png);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .front_end_skills {
        .col-md-4 {
            width: 30%;
            margin: 0 1.5%;
            padding: 0;
            height: 450px;
            background: $bg1;
            border-bottom: 2px solid $bg2;
            @include transition(0.7s);
            &:hover {
                background: rgba(255,255,255,0.7);
            }
        }
        // .middle_border {
        //     min-height: 380px;
        //     border-right: 1px solid $hr_color;
        //     border-left: 1px solid $hr_color;
        // }
        .section_title {
            margin: 0;
            padding: 20px 15px;
            background: $bg2;
            color: $color1;
            font-size: 20px;
            text-align: left;
            .fa {
                margin-right: 10px;
            }
        }
        ul {
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        ul > li {
            min-height: 30px;
            padding: 3px 0;
        }
        .ability-title {
            display: inline-block;
            width: 60%;
            font-size: 15px;
        }
        .ability-score {
            float: right;
        }
        .ability-score .fa-star {
            color: #DFE0E0;
            font-size: 14px;
        }
        .ability-score .fa-star.filled {
            @include transition(0.5s);
            color: $color4;
            cursor: pointer;
            &:hover {
                color: $danger;
                font-size: 16px;
            }
        }
        .ability-score .fa-star {
            margin-left: 2px;
        }
    }
    .front_end_tools {}
}
.projects_section {
    padding-bottom: 100px;
    background-image: url(/img/bg/bg-silver-pattern.jpg);
    background-repeat: repeat;
    background-position: center center;
    .container {
        padding-bottom: 0;
    }
    .section_subtitle_description {
        text-align: center;
    }
    a {
        color: $color1;
        &:hover {
            color: $color1;
        }
    }
    .row > div {
        margin-bottom: 30px;
    }
    figure {
        position: relative;
        overflow: hidden;
    }
    figure h3 {
        color: #FFF;
        font-weight: 600;
        margin-bottom: 5px;
    }
    figure p > strong {
        width: 60px;
        display: inline-block;
        margin: 0;
    }
    figure img {
        width: 110%;
        max-width: 110%;
        height: 450px;
    }
    figure figcaption {
        padding: 20px 30px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    figure a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    figure .icon {
        background: #22A39F;
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
    }
    figure .icon .fa {
        font-size: 18px;
        line-height: 18px;
        padding: 15px;
    }
    /*---------------*/
    /***** EFFECT *****/
    /*---------------*/
    figure.effect {
        background: rgba(0, 0, 0, 0.9);
        color: #FFF;
    }
    figure.effect img {
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    figure.effect:hover img {
        opacity: 0.2;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.effect figcaption {
        text-align: left;
    }
    figure.effect h3 {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    figure.effect:hover h3 {
        opacity: 1;
    }
    figure.effect h3::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    figure.effect:hover h3::after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.effect p {
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    figure.effect:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
.contact_section {
    position: relative;
    height: 650px;
    background-image: url(/img/bg/map-novi-sad.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $color2;
    z-index: 0;
    .h2 {
        position: relative;
        margin-top: 0;
        text-align: center;
        margin-bottom: 50px;
        color: $color1;
        z-index: 2;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    }
    .map_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.8);
        z-index: 1;
    }
    .contact_info {
        position: relative;
        width: 300px;
        margin-left: 200px;
        float: left;
        color: $color1;
        z-index: 2;
        .contact_link {
            text-align: left;
            margin: auto;
            display: inline-block;
            vertical-align: middle;
        }
        a {
            color: $color1;
        }
    }
    .copyright {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 58px;
        line-height: 58px;
        background-color: rgba(0,0,0,0.8);
        color: $color5;
        text-align: center;
        z-index: 2;
    }
}
.scope__definition {
    display: block;
    position: relative;
    clear: both;
    width: 300px;
    padding: 0;
    margin-bottom: 40px;
    margin-top: 20px;
    vertical-align: middle;
}
.scope__definition:hover .scope__circle-over {
    color: $colored;
}
.scope__definition:hover .scope__circle-viko:before {
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
.scope__definition:hover .fa {
    fill: #313131;
}
.scope__definition:hover .scope__title {
    color: #fff;
}
.scope__definition:hover .scope__title:after {
    height: 40px;
}
$circle_size: 80px;
.scope__circle-viko {
    position: relative;
    margin: 0 auto;
    height: $circle_size;
    width: $circle_size;
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.scope__circle-viko:before {
    position: absolute;
    content: '';
    display: block;
    vertical-align: top;
    height: 26px;
    width: 26px;
    margin: 0 auto;
    height: $circle_size;
    width: $circle_size;
    background: url(/img/bg/scope-radial.png) no-repeat center center;
    background-size: 100%;
    z-index: 1;
}
.scope__circle-over {
    position: absolute;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto;
    height: $circle_size;
    width: $circle_size;
    border-radius: 112px;
    -webkit-box-shadow: 0 0 0 3px #313131 inset,0 0 0 6px #fff inset,0 0 0 62px #313131 inset;
    box-shadow: 0 0 0 3px #313131 inset,0 0 0 6px #fff inset,0 0 0 62px #313131 inset;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    z-index: 2;
}
.scope__icon {
    padding: 25px;
    .fa {
        display: block;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        font-size: 30px;
        text-align: center;
        cursor: pointer;
    }
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.email_modal_container {
    position: relative;
    float: right;
    width: 400px;
    height: 400px;
    background-color: transparent;
    z-index: 2;
    .modal-header {
        padding: 0 15px;
        border-bottom: none;
    }
    .modal-title {
        color: $color1;
        text-transform: initial;
    }
    .form-control {
        background-color: rgba(0,0,0,0.6);
        border-color: transparent;
        color: $color1;
    }
    .button_email {
        float: right;
        padding: 10px 15px;
        color: $color1;
        font-size: 16px;
        line-height: 16px;
        text-decoration: none;
        text-transform: uppercase;
        @include border-radius(10px);
        background-color: $bg3;
        @include transition(0.5s);
        &:hover {
            background-color: rgba(0,0,0,0.6);
        }
        .fa {
            margin-left: 5px;
        }
    }
}