// ***********************************
// Custom styles
// ***********************************
.vertical_line {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 30%;
        height: 100%;
        width: 4px;
        margin-left: 2px;
        background: $bg2;
    }
}
.section_subtitle_description {
    text-align: center;
}
.about_section {
    .about_description {
        text-align: center;
    }
    .about_me {
        padding-right: 80px;
    }
    .profile_img {
        display: block;
        width: 246px;
        height: 246px;
        border-radius: 50%;
    }
}
.experiance_section {
    @extend .vertical_line;
}
.education_section {
    // @extend .vertical_line;
}
.skills_section {
    // @include gradient(#ffffff, #e5e5e5);
    background-image: url(/img/bg/bg-silver-pattern.jpg);
    background-repeat: repeat;
    background-position: center center;
    .container {
        background-image: url(/img/bg/bg-light-pattern.png);
        background-position: top center;
        background-repeat: no-repeat;
    }
    .front_end_skills {
        .col-md-4 {
            width: 30%;
            margin: 0 1.5%;
            padding: 0;
            height: 450px;
            background: $bg1;
            border-bottom: 2px solid $bg2;
            @include transition(0.7s);
            &:hover {
                background: rgba(255,255,255,0.7);
            }
        }
        // .middle_border {
        //     min-height: 380px;
        //     border-right: 1px solid $hr_color;
        //     border-left: 1px solid $hr_color;
        // }
        .section_title {
            margin: 0;
            padding: 20px 15px;
            background: $bg2;
            color: $color1;
            font-size: 20px;
            text-align: left;
            .fa {
                margin-right: 10px;
            }
        }
        ul {
            padding-top: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }
        ul > li {
            min-height: 30px;
            padding: 3px 0;
        }
        .ability-title {
            display: inline-block;
            width: 60%;
            font-size: 15px;
        }
        .ability-score {
            float: right;
        }
        .ability-score .fa-star {
            color: #DFE0E0;
            font-size: 14px;
        }
        .ability-score .fa-star.filled {
            @include transition(0.5s);
            color: $color4;
            cursor: pointer;
            &:hover {
                color: $danger;
                font-size: 16px;
            }
        }
        .ability-score .fa-star {
            margin-left: 2px;
        }
    }
    .front_end_tools {}
}
.projects_section {
    background-image: url(/img/bg/bg-silver-pattern.jpg);
    background-repeat: repeat;
    background-position: center center;
    .container {
        padding-bottom: 0;
        margin-bottom: 50px;
    }
    .section_subtitle_description {
        text-align: center;
    }
    a {
        color: $color1;
        &:hover {
            color: $color1;
        }
    }
    .row > div {
        margin-bottom: 30px;
    }
    figure {
        position: relative;
        overflow: hidden;
    }
    figure h3 {
        color: #FFF;
        font-weight: 600;
        margin-bottom: 5px;
    }
    figure p > strong {
        width: 60px;
        display: inline-block;
        margin: 0;
    }
    figure img {
        width: 110%;
        max-width: 110%;
    }
    figure figcaption {
        padding: 20px 30px;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    figure a {
        z-index: 1000;
        text-indent: 200%;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    figure .icon {
        background: #22A39F;
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        height: 48px;
    }
    figure .icon .fa {
        font-size: 18px;
        line-height: 18px;
        padding: 15px;
    }
    /*---------------*/
    /***** EFFECT *****/
    /*---------------*/
    figure.effect {
        background: #22A39F;
        color: #FFF;
    }
    figure.effect img {
        width: -webkit-calc(100% + 20px);
        width: calc(100% + 20px);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    figure.effect:hover img {
        opacity: 0.2;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.effect figcaption {
        text-align: left;
    }
    figure.effect h3 {
        position: relative;
        overflow: hidden;
        padding-bottom: 20px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
    }
    figure.effect:hover h3 {
        opacity: 1;
    }
    figure.effect h3::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: #fff;
        content: '';
        -webkit-transition: -webkit-transform 0.35s;
        transition: transform 0.35s;
        -webkit-transform: translate3d(-100%,0,0);
        transform: translate3d(-100%,0,0);
    }
    figure.effect:hover h3::after {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    figure.effect p {
        padding-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    figure.effect:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
.contact_section {
    background-color: $bg4;
    #map {
        width: 500px;
        height: 400px;
    }
}