// ***********************************
// Custom styles
// ***********************************
.section_subtitle_description {
    text-align: center;
}
.profile_section {
    .profile_description {
        text-align: center;
    }
    .about_me {
        padding-right: 80px;
    }
    .profile_img {
        display: block;
        width: 246px;
        height: 246px;
        border-radius: 50%;
    }
}
.experiance_section {
    // @extend .vertical_line;
}
.education_section {
    // @extend .vertical_line;
}
.skills_section {}
.favorites_section {

    .container {
        padding-bottom: 0;
        margin-bottom: 50px;
    }
    .section_subtitle_description {
        text-align: center;
    }
    a {
        color: $color1;
        &:hover {
            color: $color1;
        }
    }
}

.contact_section {
    background-color: $bg4;
}