// ***********************************
// Custom styles
// ***********************************
.page_wrapper {
    z-index: 4;
    position: relative;
}
.section {
    position: relative;
    clear: both;
    padding: 100px 0;
    background: $bg1;
}
.section_subtitle_description {
    text-align: center;
}
.section_title {
    margin-bottom: 100px;
    .section_icon {
        display: block;
        margin-top: -50px;
        font-size: 50px;
        line-height: 50px;
        color: $colored;
    }
    .h2 {
        position: relative;
        display: inline-block;
        margin-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        background: $bg1;
        width: auto;
        z-index: 2;
    }
    .section_line {
        position: absolute;
        top: 138px;
        left: 0;
        right: 0;
        width: 1%;
        z-index: 1;
        margin: 0 auto;
        border: 2px solid $border2;
    }
    .lead {
        margin-top: 20px;
    }
}
.section_subtitle {
    margin-bottom: 100px;
}

#map {
    background: none;
    height: 500px;
    width: 100%;
}
@include breakpoint(small) {
    .section {
        padding: 70px 0 0;
    }
    .section_title {
        margin-bottom: 20px;
        .section_icon {
            margin-top: -50px;
            font-size: 32px;
            line-height: 32px;
        }
        .lead {
            margin-top: 0;
            margin-bottom: 10px;
        }
        .section_line {
            top: 75px;
        }
    }
    .h2 {
        font-size: 32px;
    }
    .section_subtitle {
        margin-bottom: 50px;
    }
}