<div class="container">
    <div class="about_description">
        <div class="section_title" data-scroll-watch>
            <i class="section_icon fa fa-user"></i>
            <h2 class="h2">About
                <span class="colored">me</span>
            </h2>
            <hr class="section_line">
            <p class="lead">The brief introduction of myself</p>
        </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="profile_img_wrap">
                <img class="profile_img " src="/img/profile-croped.jpg" alt="Zoran Markovic">
            </div>
        </div>
        <div class="col-md-8 col-lg-6">
            <h4 class="profile_name colored">Zoran Markovic</h4>
            <p class="profile_proffesion">
                Coder <i class="fa fa-circle"></i> Senior Front-End Developer <i class="fa fa-circle"></i> Proffesional
            </p>
            <p class="about_me_text">Senior Front-end developer with focus on React.js</p>
            <p class="about_me_text">
                As a professional developer with strong background featuring a master degree in Computer
                Science
                I am completely committed for quality, with passion to explore new tools (like Vue, React)
                and to upgrade 'old'​ ones, like Webpack, Gulp, Bootstrap...
                Also love exploring new technologies and follow cool people.
            </p>
            <p class="about_me_text">But most off all I like to travel and enjoy in every day with my family!</p>

            <h4>More Info</h4>
            <a class="button button_linkedin" href="https://rs.linkedin.com/in/zoranzokimarkovic" target="_blank"><i
                    class="fa fa-linkedin"></i> LinkedIn profile <i class="fa fa-chevron-right"></i></a>
            <a class="button button_download_resume" href="/CV-Zoran-Markovic.pdf" target="_blank"><i
                    class="fa fa-download"></i> Download Resume <i class="fa fa-chevron-right"></i></a>

        </div>
    </div>

</div>