<div class="map_overlay"></div>
<div class="container">
    <div class="section_title" data-scroll-watch>
        <h2 class="h2">Contact</h2>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2 contact_info">

            <div class="scope__definition">
                <div class="scope__circle-viko">
                    <div class="scope__circle-over">
                        <div class="scope__icon">
                            <i class="fa fa-linkedin"></i>
                        </div>
                    </div>
                </div>
                <p class="contact_link"><a href="https://rs.linkedin.com/in/zoranzokimarkovic" target="_blank"> LinkedIn profile</a></p>
            </div>

            <div class="scope__definition">
                <div class="scope__circle-viko">
                    <div class="scope__circle-over">
                        <div class="scope__icon">
                            <i class="fa fa-home"></i>
                        </div>
                    </div>
                </div>
                <p class="contact_link">Novi Sad, Serbia</p>
            </div>
        </div>
        <div class="col-sm-4 col-sm-offset-2 contact_info">
            <div class="scope__definition">
                <div class="scope__circle-viko">
                    <div class="scope__circle-over">
                        <div class="scope__icon">
                            <i class="fa fa-download"></i>
                        </div>
                    </div>
                </div>
                <p class="contact_link"><a href="/CV-Zoran-Markovic.pdf" target="_blank"> Download Resume</a></p>
            </div>
            <div class="scope__definition">
                <div class="scope__circle-viko">
                    <div class="scope__circle-over">
                        <div class="scope__icon">
                            <i class="fa fa-envelope-o"></i>
                        </div>
                    </div>
                </div>
                <p class="contact_link">
                    <a href="mailto:markonimobile@gmail.com" target="_blank">markonimobile@gmail.com</a>
                </p>
            </div>
        </div>

    </div>
    <div class="copyright">
        Copyright © 2020 Zoran Markovic
    </div>
</div>