<div class="container">
    <div class="section_title" data-scroll-watch>
        <i class="section_icon fa fa-cogs"></i>
        <h2 class="h2">Experiance</h2>
        <hr class="section_line">
        <p class="section_subtitle">Whatever you ask, your brain will provide an answer; whatever you look for, you'll find.</p>
    </div>

    <div class="experiences">
        <div class="experience row">
            <div class="timeline-centered">
                <div class="timeline-entry col-sm-12">
                    <div class="timeline-entry-inner">
                        <div class="experience-period timeline-time">
                            <p class="experience-period">March 2015 – Present</p>
                            <h4 class="company_name">Codeplicity</h4>
                        </div>
                        <div class="timeline-icon"></div>

                        <div class="timeline-label">
                            <h3 class="panel-title">Front-End Developer</h3>
                            <div class="timeline-description">
                                As a senior at Codeplicity, I work on a custom platform which is capable of running thousands of applications from a single engine. Good planning and organizing the code is essence in order to support multiple projects from the same platform. I work in
                                a front end team where we love to write nice, readable and reusable code.
                                <p>
                                    <span class="location"><i class="fa fa-map-marker"></i> Novi Sad, Serbia</span>
                                    <span class="seperator">|</span>
                                    <span><a href="http://codeplicity.com/" target="_blank"><i class="fa <fa-external-link>"></i>http://codeplicity.com/</a> </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-entry col-sm-12">
                    <div class="timeline-entry-inner">
                        <div class="experience-period timeline-time">
                            <p class="experience-period">September 2012 – January 2015</p>
                            <h4 class="company_name">LTF International</h4>
                        </div>

                        <div class="timeline-icon"></div>

                        <div class="timeline-label">
                            <h3 class="panel-title">Front-End Developer</h3>
                            <div class="timeline-description">
                                LTF International is a digital agency with headquarters in Sydney. It's focus is on developing custom websites and e-commerce stores based on Magento, Neto and Ebay platforms. As front end developer my job was to translate design in functional website,
                                and creating custom tools to satisfy the clients need.
                                <p>
                                    <span class="location"><i class="fa fa-map-marker"></i> Novi Sad, Serbia</span>
                                    <span class="seperator">|</span>
                                    <span><a href="http://www.gallantdigital.com/" target="_blank"><i class="fa <fa-external-link>"></i>http://www.gallantdigital.com/</a> </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-entry col-sm-12">
                    <div class="timeline-entry-inner">
                        <div class="experience-period timeline-time">
                            <p class="experience-period">January 2012 – August 2012</p>
                            <h4 class="company_name">Innovagency</h4>
                        </div>
                        <div class="timeline-icon"></div>
                        <div class="timeline-label">
                            <h3 class="panel-title">Front-End Developer</h3>
                            <div class="timeline-description">
                                Right after I graduated, i have joined the AIESEC and went to Lisbon on technical practice. In Innovagency I have gained my first working experience and opportunity to work in multinational team.
                                <p>
                                    <span class="location"><i class="fa fa-map-marker"></i> Lisbon, Portugal</span>
                                    <span class="seperator">|</span>
                                    <span><a href="http://www.innovagency.com/" target="_blank"><i class="fa <fa-external-link>"></i>http://www.innovagency.com/</a> </span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="timeline-entry col-sm-12">
                    <div class="timeline-entry-inner">
                        <div class="experience-period timeline-time">
                            <p class="experience-period">Oktober 2005 – March 2011</p>
                            <h4 class="company_name">Faculty of Electronic Engineering</h4>
                        </div>

                        <div class="timeline-icon"></div>

                        <div class="timeline-label">
                            <h3 class="panel-title">Master of Computer Science and Informatics</h3>
                            <div class="timeline-description">
                                Department: Computer Science
                                <br> Primary subject: Math, Programming
                                <br>The education was very wide oriented in first two years. After it get focus on programming where I learned about SQL, PHP, C#, Java, JavaScript, MVC and more. During my time in college, I specialized in
                                JavaScript because I love websites which are the first thing that regular people see and understand. So I wanted to build apps and websites to provide them the best possible experience.
                                <br> Member of
                                <img src="../img/hetip-en.jpg" alt="hetip-en" />
                                <p>
                                    <span class="location"><i class="fa fa-map-marker"></i> Nis, Serbia</span>
                                    <span class="seperator">|</span>
                                    <span><a href="http://www.elfak.ni.ac.rs/en" target="_blank"><i class="fa <fa-external-link>    </fa-external-link>"></i>http://www.elfak.ni.ac.rs/en</a> </span>
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeline-entry col-sm-12">
                    <div class="timeline-entry-inner">
                        <div class="experience-period timeline-time">
                            <p class="experience-period">September 1998 - Jun 2002</p>
                            <h4 class="company_name">Gimnazija Highschool</h4>
                        </div>

                        <div class="timeline-icon"></div>

                        <div class="timeline-label">
                            <h3 class="panel-title">Mathematic</h3>
                            <div class="timeline-description">
                                I graduated highschool, where I enjoyed doing math, biology and sport. I realized in my third year of school that I wanted to do something with websites.
                                <br>
                                <br>
                                <span class="location"><i class="fa fa-map-marker"></i> Zajecar, Serbia </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>