<div class="container">
    <div class="section_title" data-scroll-watch>
        <i class="section_icon fa fa-rocket"></i>
        <h2 class="h2">Projects</h2>
        <hr class="section_line">
    </div>
    <div class="github_project">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-sm-12 project_wrap">
                <a class="project_link" href="https://github.com/zmarkoni/devappsit" target="_blank">
                    <img class="project_logo" src="/img/icons/github-logo.svg" alt="zmarkoni">
                    <span class="project_info_desc">See code on GitHub</span>
                </a>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-12 project_text_wrap">
                <h3 class="section_subtitle_description"><i class="fa fa-hand-o-left"></i> Check this Project <i class="fa fa-hand-o-right"></i></h3>
            </div>
            <div class="col-xs-12 col-md-4 col-sm-12 project_wrap">
                <a class="project_link" href="https://developers.google.com/speed/pagespeed/insights/?url=http%3A%2F%2Fzmarkoni.github.io&tab=desktop" target="_blank">
                    <img class="project_logo" src="/img/icons/developers-logo.svg" alt="project speed">
                    <span class="project_info_desc">Check website ranking</span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="figure effect">
                <img src="/img/projects/corporate-cars.jpg" alt="portfolio">
                <div class="figure_title">
                    <h3>Corporate cars</h3>
                    <p>Corporate Cars provides quality transfers with luxury cars</p>
                    <p>
                        <strong>Tags:</strong>
                        <br>Development, Wordpress, Booking form</p>
                    <a href="http://www.corporatecars.com.au/" target="_blank">View more</a>
                    <span class="icon">
                        <i class="fa fa-external-link"></i>
                    </span>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="figure effect">
                <img src="/img/projects/completechirocare.jpg" alt="portfolio">

                <div class="figure_title">
                    <h3>Complete Chiropractic</h3>
                    <p>
                        Complete Chiropractic is specialists in the treatment of mums and kids
                    </p>
                    <p>
                        <strong>Tags:</strong>
                        <br>Development, Wordpress
                    </p>
                    <a href="http://completechirocare.com.au/" target="_blank">View more</a>
                    <span class="icon">
                        <i class="fa fa-external-link"></i>
                    </span>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="figure effect">
                <img src="/img/projects/tacklemania.jpg" alt="portfolio">

                <div class="figure_title">
                    <h3>Tacklemania</h3>
                    <p>Fishing online store</p>
                    <p>
                        <strong>Tags:</strong>
                        <br>Development, Bootstrap, Ecommerce</p>
                    <a href="http://www.tacklemania.com.au/" target="_blank">View more</a>
                    <span class="icon">
                        <i class="fa fa-external-link"></i>
                    </span>
                </div>
            </div>
        </div>


        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="figure effect">
                <img src="/img/projects/sairdacasca.jpg" alt="portfolio">

                <div class="figure_title">
                    <h3>Sairdacasca</h3>
                    <p>Build a website for the agency in Lisbon</p>
                    <p>
                        <strong>Tags:</strong>
                        <br>Development, Wordpress</p>
                    <a href="http://www.sairdacasca.com/" target="_blank">View more</a>
                    <span class="icon">
                        <i class="fa fa-external-link"></i>
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>