// ***********************************
// LAYOUT
// ***********************************
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.section {
    position: relative;
    clear: both;
    padding: 100px 0;
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}
@media (max-width: 1199px) {
    .about_section {
        .button {
            width: 210px;
            .fa-chevron-right {
                display: none;
            }
        }
        .button_linkedin {
            margin-right: 20px;
        }
    }
}
@media (max-width: 992px) {
    .profile_img_wrap {
        margin: 0 auto 20px;
    }
    .about_section {
        .about_me_text {
            text-align: justify;
        }
        h4 {
            text-align: center;
        }
        .button {
            margin: 0 auto;
            float: none;
            margin-bottom: 20px;
        }
    }
}
@media (max-width: 769px) {
    // .header {
    //     position: relative;
    // }
    // .navbar-header {
    //     display: block;
    //     top: auto;
    //     left: auto;
    //     float: right;
    // }
    .parallax {
        position: relative;
        top: auto;
        left: auto;
        float: left;
        width: 100%;
        height: 568px;
    }
    .text_logo {
        width: 100%;
        .text {
            width: 100%;
        }
        .my_name {
            font-size: 30px;
        }
        .resume_text {
            font-size: 20px;
        }
    }
}