// ***********************************
// LAYOUT
// ***********************************

$container_width        : 960px;
$container_max_width    : 1024px;

body{
	margin: 0;
	padding: 0;
	font-weight: $font-weight-body;
	font-family: $font-family-primary;
  color: $body-text;
  background: $body-bg;
  font-size: 14px;
}

.container {
    position: relative;
    clear: both;
    margin-right: auto;
    margin-left: auto;
    padding-left:  0;
    padding-right: 0;
    width: 100%;
    /* z-index:$z1; It can't have z-index because of tour'*/

    @include breakpoint(greaterthansmall) {
        width: $container_width;
    }

    @include breakpoint(tabletbig) {
        width: 800px;
        padding-left:  20px;
        padding-right: 20px;
    }
}/*END container*/

.col_one {

    width: 100%;
    margin:0 auto;

    @include breakpoint(greaterthansmall) {
        width: $container_width;
    }
    @include breakpoint(tabletbig) {
        width: 640px;
    }

}
//////////////////////////// col left /////////////////////////////////////////
@mixin col_left {
  width:100%;
  display:none;
  @include breakpoint(greaterthansmall) {
      display:block;
      width:300px;
      float: left;
  }
}
.left-column,
.col_left {
    @include col_left;
}

//////////////////////////// col mid /////////////////////////////////////////
@mixin col_mid {
  width:100%;
  @include breakpoint(greaterthansmall) {
      width: 630px;
      float: right;
  }
  @include breakpoint(tabletbig) {
      width: 60%;
      float: right;
  }
}

.mid-column,
.col_mid {
    @include col_mid;
}

.section {
    height:800px;
}
